@font-face {
    font-family: macondo;
    src: url(https://fonts.google.com/specimen/Macondo#standard-styles);
}
body {
    font-family: macondo;
    text-align: center;
    border: 2px solid black;
    margin: 185px 300px 185px 300px;
    padding: 5px;
    display: block;
}

label {
    font-size: 32px;
}

input {
    font-size: 30px;
}

h1 {
    margin: 30px;
    font-size: 46px;
}

label [for=firstName] {
    text-align: center;
    margin: 20px;
}

label [for=lastName] {
    text-align: center;
    margin: 5px;
}

label [for=email] {
    text-align: center;
    margin: 5px;
    height: 15px;
}

.firstName {
    margin: 15px;
}

.lastName {
    margin: 15px;
}

.email {
    margin: 15px;
}

#submit {
    width: 300px; 
    margin: 25px;
    font-size: 32px; 
    text-align: center;
}
